Logs/*
EasyTrainers.log
EasyTrainers1.log
EasyTrainers2.log
EasyTrainers3.log
Logs.txt
config.json
db.sqlite3
options.json
style.json
lang/en.json
Logs/log_6.txt
Logs/log_current.txt
Logs/log_1.txt
Logs/log_2.txt
Logs/log_3.txt
Logs/log_4.txt
Logs/log_5.txt
Logs/log_6.txt
Logs/log_current.txt
